* {
	cursor: url(images/cursor.ico) 64 0, pointer;
	font-family: "Helvetica Neue", sans-serif;
	color: #fff;
}

body {
	min-height: 100vh;
	background-color: #fec4d4;
	/*background: radial-gradient(#FFE0EB 0%, #ff909e 100%);*/
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
}

.label h2 {
	color: black;
	font-weight: 200;
	font-size: 5.5VH;
	/*color: #fff;*/
	/*text-shadow: 2px 4px 3px rgba(0,0,0,0.5);*/
}

.label h3 {
	color: black;
	font-size: 2.5vh;
	font-weight: 400;
	font-style: italic;
	/*text-shadow: 2px 4px 3px rgba(0,0,0,0.2);*/
}

.page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	/*background: radial-gradient(#FFE0EB 0%, #ff909e 100%);*/
}

.caroline {
	z-index: 2;
	width: 72%;
}

.page-container h1 {
	font-size: 3vh;
	font-weight: 200;
	color: #000;
}

.page-container h1 span {
	animation-name: colors;
	animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes colors {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

.enter {
	display: block;
	color: #000;
	border: 2px #000 solid;
	border-radius: 6px;
	font-weight: 400;
	padding: 10px;
	margin-top: 5vh;
	background-color: #fff;
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-links a {
	font-weight: 200;
	margin-right: 6px;
	padding: 8px 8px 8px 8px;
}

.current {
	margin: -2px 4px -2px -2px !important;
	border: 2px white solid;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.home-title {
	margin-top: 5px;
	height: 8vh;
	margin-left: 10px;
	/*position: absolute;*/
	/*top: 5px;*/
	/*left: 5px;*/
}

.title-container p {
	font-size: 2.3vh;
}

.dollhouse {
	display: flex;
	flex-direction: column;
	margin-top: 5vh;
}

.roof {
	display: flex;
	align-items: center;
	justify-content:center;
	position: relative;
}

.roof-image {
	height: 30vh;
}

.label {
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
}

.floor {
	display: flex;
	justify-content: center;
}

.room {
	/*background-color: white;*/
	border: 4px solid #ff4f8a;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.icon-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.icon {
	width: 35px;
	height: 35px;
	margin: 4vh 30px 0;
}

.vid-box {
	margin-top: 5vh;
	background-color: #ff4f8a;
	padding: 4px;
	border: 4px solid #fff;
	width: 55%;
}

.vid-box:nth-child(2) {
	margin-top: 14vh;
}

.about-box {
	background-color: #ff4f8a;
	padding: 4px;
	border: 4px solid #fff;
	max-width: 30%;
}

.about-box p {
	margin: 2vh;
	font-weight: 200;
	text-align: justify;
}

.yellow-circle {
	position: absolute;
	left: 25%;
	top: 60%;
	width: 35vh;
	height: 35vh;
	border-radius: 50%;
	background-color: #f6cfb4;
	z-index: -2;
}

.cb2 {
	position: absolute;
	left: 10%;
	top: 34%;
	width: 27%;
	z-index: -1;
	-moz-animation-name: picOut;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.8s;
    /*-moz-animation-delay: 1s;*/

    -webkit-animation-name: picOut;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.8s;
    /*-webkit-animation-delay: 1s;*/

    animation-name: picOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
    /*animation-delay: 1s;*/
}

@-moz-keyframes picOut {
    0% {
        transform: translateX(100%);
    }
    60% {
      transform: translateX(-6%);
   	}
   	80% {
      transform: translateX(2%);
   	}
   	100% {
      transform: translateX(0);
   	}
}
@-webkit-keyframes picOut {
    0% {
        transform: translateX(100%);
    }
    60% {
      transform: translateX(-6%);
   	}
   	80% {
      transform: translateX(2%);
   	}
   	100% {
      transform: translateX(0);
   	}
}
@keyframes picOut {
    0% {
        transform: translateX(100%);
    }
    60% {
      transform: translateX(-6%);
   	}
   	80% {
      transform: translateX(2%);
   	}
   	100% {
      transform: translateX(0);
   	}
}

.cb3 {
	position: absolute;
	left: 64%;
	top: 28%;
	width: 32%;
	z-index: -1;
	-moz-animation-name: picUp;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: picUp;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.8s;

    animation-name: picUp;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}

.cb3-press {
	position: absolute;
	left: 54%;
	top: 20%;
	width: 32%;
	z-index: -1;
	-moz-animation-name: picUp;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: picUp;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.8s;

    animation-name: picUp;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}

@-moz-keyframes picUp {
    0% {
        transform: translateY(-200%);
    }
    60% {
      transform: translateY(6%);
   	}
   	80% {
      transform: translateY(-2%);
   	}
   	100% {
      transform: translateY(0);
   	}
}
@-webkit-keyframes picUp {
    0% {
        transform: translateY(-200%);
    }
    60% {
      transform: translateY(6%);
   	}
   	80% {
      transform: translateY(-2%);
   	}
   	100% {
      transform: translateY(0);
   	}
}
@keyframes picUp {
    0% {
        transform: translateY(-200%);
    }
    60% {
      transform: translateY(6%);
   	}
   	80% {
      transform: translateY(-2%);
   	}
   	100% {
      transform: translateY(0);
   	}
}

.contact-box {
	background-color: #ff4f8a;
	padding: 4px;
	border: 4px solid #fff;
	max-width: 50%;
}

.contact-box h2 {
	color: black;
	font-weight: 100;
	font-size: 5vh;
	margin: 12px 0 12px 12px;
	display: inline-block;
}

.contact-box h3 {
	color: white;
	font-weight: 100;
	font-size: 5vh;
	margin: 0 2vh;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

.contact-box a h3:hover {
	border-bottom: 1px solid white;
}

.contact-box ul {
	margin: 2vh 4vh;
}

.contact-box li h3 {
	margin: 0;
}

.contact-box .year {
	width: 100%;
	text-align: center;
	/*margin-bottom: 2vh;*/
}

.vid-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.vid-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vid-heading {
	color: #fff;
	margin-top: 15px;
	font-size: 20px;
	font-weight: 200;
}

.about-header {
	font-size: 4vh;
	font-weight: 200;
	margin-top: 10vh;
	margin-bottom: 3vh;
}

.contact-header {
	font-size: 4vh;
	font-weight: 200;
	margin-top: 20vh;
	margin-bottom: 3vh;
}

.press-header {
	font-size: 4vh;
	font-weight: 200;
	margin-top: 10vh;
	margin-bottom: 3vh;
}

.cb1 {
	position: absolute;
	width: 30%;
	left: 12%;
	top: 12%;
	z-index: -1;
    -moz-animation-name: picIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1.2s;

    -webkit-animation-name: picIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.8s;

    animation-name: picIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;
}

@-moz-keyframes picIn {
    0% {
        transform: translateX(-200%);
    }
    60% {
      transform: translateX(6%);
   	}
   	80% {
      transform: translateX(-2%);
   	}
   	100% {
      transform: translateX(0);
   	}
}
@-webkit-keyframes picIn {
    0% {
        transform: translateX(-200%);
    }
    60% {
      transform: translateX(6%);
   	}
   	80% {
      transform: translateX(-2%);
   	}
   	100% {
      transform: translateX(0);
   	}
}
@keyframes picIn {
    0% {
        transform: translateX(-200%);
    }
    60% {
      transform: translateX(6%);
   	}
   	80% {
      transform: translateX(-2%);
   	}
   	100% {
      transform: translateX(0);
   	}
}


.rad {
	font-weight: 600;
	font-size: 10vh;
	color: white;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fec4d4;
}

.rad:hover {
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #ff4f8a;
}

.room:hover > .label {
	display: flex;
}

.room:hover > .image {
	opacity: 0.45;
}

.image {
	height: 17.5vh;
}

.roof:hover > .label {
	margin-top: 6vh;
	display: flex;
}

.roof:hover > .roof-image {
	opacity: 0.45;
}

.turn-phone {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fec4d4;
	z-index: 100;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.turn-phone h1 {
	font-size: 6vh;
	text-align: center;
}

.turn-phone img {
	height: 40%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
  	.turn-phone {
  		display: flex;
  	}
}
